.header .navbar-brand {
    color: white !important;
}

.header .nav-link {
    color: white !important;
    font-size: 16.5px;
}

.header .nav-link:hover {
    color: rgb(99, 56, 56) !important;
}

@media(max-width: 700px){
    .nav-link{text-align: center;}
}

.header .navbar {
    background-image: linear-gradient(to right, #F5E2BE, #e07A76);
}


body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    background: #F5E2BE;
    /*background: #1D976C;   fallback for old browsers 
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);   Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #93F9B9, #1D976C);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
}

h2 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

h3 {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}
#exampleFormControlTextarea1{
    resize: none;
}
.bg-green{
    border-radius: 3%;
    background: #f5e2be; /* 7c946c f3ab91 f5e2be f8c0a9*/
}

.form-label{
    color: black;
}

.icon-circle {
    
    display: inline-flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f8c0a9; /* Cambia el color del círculo según tu preferencia */
   
    line-height: 30px;
    margin-right: 10px; /* Ajusta el espaciado entre el icono y el texto */
    
}

.icon-circle i {
    color: white; /* Cambia el color del icono según tu preferencia */
}

.info {
    display: inline-block;
    vertical-align: middle;
}

